body {
    margin:0px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ffffff, rgba(4, 68, 50, 0.70)); /*Standard*/
    font-family: Calibri, sans-serif;
    /*background:url('https://upload.wikimedia.org/wikipedia/commons/8/87/LH_95.jpg');
    background-size:cover;
    background-repeat:no-repeat;*/
}


.top-div {
    width:100%;
    background:url('../images/bg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.main-nav {
    position:fixed;
    margin-top:2%;
    width:100%;
    background:rgba(220,220,200,.9);
    font-size:2em;
    top:0px;
    padding:0px;
    height:65px;
}

ul {
    display:table;
}
li {
    display:table-cell;
}

.main-nav ul {
    font-family: Calibri, sans-serif;
    display:table;
    margin:auto;
    margin-left:2%;
    margin-bottom:2%;
    position:fixed;
    width:40%;
}
        
.main-nav li{
    display:table-cell;
    width:auto;
    text-align:center;
    padding:2%;
    padding-bottom:5%;
}

.main-nav span {
    padding:3%;
}



.section-top {
    min-height:500px;
    margin-top:3%;
}

.section-middle, .section-bottom {
    display:block;
    min-height:500px;
}

.nav-logo {
    position:relative;
    padding-left:2%;
    float:left;
}

/* Grow Rotate*/
.hvr-grow-rotate {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition-duration: 1s;
transition-duration: 1s;
-webkit-transition-property: transform;
transition-property: transform;
text-decoration:none;
color:#666666;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active, .selected {
-webkit-transform: scale(1.1) rotate(4deg);
transform: scale(1.1) rotate(4deg);
border:1px solid black;
box-shadow:4px 4px 4px rgba(15,15,15,.3);
background-color:#666666;
color:white;
cursor:pointer;
}
 

.home-article{
font-family:Calibri, sans-serif;
width:60%;
margin:auto;
color:wheat;
font-size:3em;
text-shadow:1px 3px rgba(128, 128, 128, .7);
float:left;
padding-left:10%;
padding-top:5%;
margin-top: 5%;
}

.social-logo {
    width:60px;
    display:block;
    margin:auto;
    padding:.2%;
}

    .social-logo:hover {
        transform:scale(1.2)
    }

.social-aside {
    position:fixed;
    top:15%;
    left:95%;
    background-color:rgba(255, 60, 30, .6);
    width:5%;
    float:right;
    padding-top:2%;
    padding-bottom:2%;
}

.page-footer {
    position:relative;
    min-height:50px;
    display:inline-block;
    width:100%;
    border-top:solid black 1px;
    border-bottom:1000px solid white;
    
}

    .page-footer ul {
    }

    .page-footer li {
       
    }

    .page-footer a {
        text-decoration:none;
        color:black;
    }

        .page-footer a:hover{
            font-size:1.2em;
            color:red;
        }

.about-div {
    background:rgba(188, 159, 159, 0.67);
    min-height:500px;
    margin-top:5%;
    
}

.work-div {
    width:100%;
    background:rgba(220,220,200,.9);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:500px;
    margin-top:5%;
}

    .work-div img {
        width:80%;
    }
    .work-div ul {
        width:90%;
        margin:auto;
        top:50%;
    }
    .work-div li {
        padding:5%;
    }


.fixed {
    position:fixed;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.img-logo-guess {
    width:30%;
    margin:auto;
    display:block;
	height:200px;
}

.choice-div {
    width:30%;
    margin:auto;
}
    .choice-div a {
        width:80%;
        margin:auto;
        display:inline-block;
        background-color:#808080;
        margin:3%;
        padding:2%;
        border-radius:3%;
        text-align:center;
        text-decoration:none;
        color:white;
    }

        .choice-div a:hover {
            cursor:pointer;
            background-color:antiquewhite;
            color:#808080;
        }

.item {
    min-height:600px;
}

.score-button {
    width:50%;
    font-size:3em;
    font-weight:bold;
    text-align:center;
    margin:auto;
    border-radius:50%;
    display:block;
    box-shadow:2px 5px 2px black;
    background-color:#b94a48;
    padding:2%;
}

.score-label {
    font-size:3em;
    text-align:center;
    width:100%;
    margin:auto;
    color:#330909;
}

.contact-div {
    min-height:500px;
    background-color:blue;
    margin-top:5%;
}